<header>
    <nav class="navbar fixed-top navbar-dark navbar-expand-lg navbar-light bg-primary">
      <a href="/" class="navbar-brand d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" AppearanceBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
          <strong>Breaking Bad Wiki</strong>
        </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" href="/Home">Home</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" href="/BreakingBad">Breaking Bad</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" href="/BetterCallSaul">Better Call Saul</a>
          </li>
        </ul>
        <span class="navbar-text">
          A compilation of information from the Breaking Bad series.
        </span>
      </div>
    </nav>
  </header>