<app-header> </app-header>

<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Breaking Bad Series Character</h1>   
        </div>
      </section>
      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-6">
              <div class="card mb-6 box-shadow">
                <img class="card-img-top" src="{{personaje.img!}}" alt="{{personaje.name!}}">
                <div class="card-body">
                  <span class="btn btn-sm float-right" [ngClass]="{
                    'btn-success': personaje.status!.toLowerCase().includes('alive'),
                    'btn-danger': !personaje.status!.toLowerCase().includes('alive') }" >{{personaje.status}}</span>
                  <h5 class="card-title">{{personaje.name}}</h5>
                  <p class="text-muted">Nickname: {{personaje.nickname}}</p>
                  <p class="text-muted">Portrayed: {{personaje.portrayed}}</p>
                  <p class="card-text">Occupation(s):</p>
                   
                    <ul *ngFor="let occ of personaje.occupation" class="card-text">
                      <li>{{occ}}</li>
                    </ul>
                  <p class="card-text">Appearance:</p>
                   
                    <ul *ngFor="let season of personaje.appearance" class="card-text">
                      <li>Season {{season}}</li>
                    </ul>
                  
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a type="button" class="btn btn-sm btn-outline-secondary">{{personaje.category}}</a>
                    </div>
                    <small class="text-muted">B-Day: {{personaje.birthday}}</small>
                  </div>
                </div>
              </div>
            </div>            
          </div>
        </div>
      </div>
</main>

<app-footer></app-footer>