<app-header> </app-header>

<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Welcome to the Breaking Bad Wiki!</h1>
          <p class="lead text-muted">This documentation should supply with you all the information you need to start making your HTTP requests. Give our documentation a read before you get started on your project, and don't forget about the ice trays!</p>
          <p>
            <a href="/BreakingBad" class="btn btn-primary my-2">Enjoy!</a>            
          </p>
        </div>
      </section>
</main>

<app-footer></app-footer>